openapi: 3.0.2
info:
  title: Allium Explorer Polygon API
  version: 0.1.0
servers:
- url: https://api.allium.so
tags:
- name: Polygon
paths:
  /api/v1/polygon/nfts/:
    get:
      summary: Get Polygon Nfts
      operationId: get_polygon_nfts_api_v1_polygon_nfts__get
      parameters:
      - required: true
        schema:
          title: Start Timestamp
          type: string
          format: date-time
        name: start_timestamp
        in: query
      - required: false
        schema:
          title: End Timestamp
          type: string
          format: date-time
        name: end_timestamp
        in: query
      - required: false
        schema:
          title: Cursor
          type: string
        name: cursor
        in: query
      - required: false
        schema:
          title: Page Size
          type: integer
          default: 25
        name: page_size
        in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - APIKeyBearer: []
      tags:
      - Polygon
components:
  schemas:
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
      - loc
      - msg
      - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
            - type: string
            - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
  securitySchemes:
    APIKeyBearer:
      type: apiKey
      in: header
      name: X-API-KEY
